//breackpoints 
// celulares hacia arriba
$bp-sm:576px;
// tablet hacia arriba
$bp-md:768px;
// escritorios hacia arriba 
$bp-lg:992px;
//xl hacia arriba 
$bp-xl:1200px;


// colores maqueta 

$gray: #f2f4f5;
$coral: coral;
$white: #ffff;
$blue: steelblue;



//font family

$monospace:monospace;